@import url('https://fonts.googleapis.com/css?family=Miniver:regular');/* Importing Google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,500;0,700;1,400&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     
    font-family: "Poppins", sans-serif;
}
:root{
    /*colors*/
    --primary-color: #b71e1e; 
    --secondary-color: #FA4032;
    --white-color:#EEEEEE;
    --dark-color: #333;
    --light-pink-color: #faf4f5;
    --medium-gray-color:#ccc;
    --title-color:#FAB12F;
    --button-color:#3e2904;

    /*Font size*/
    --font-size-s:0.9rem; 
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-1:1.5rem;
    --font-size-x1:2rem;
    --font-size-xx1:2.3rem;
    --font-size-h1:3rem;

   /*Border radius*/
   --border-radius-s: 8rem;
   --border-radius-m:30px;
   --border-radius-circle:50%;

   /*Font weight*/
   --font-weight-normal:400;
   --font-weight-bold:700;
   --font-weight-medium:500;
   --font-weight-semibold:600;


}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;

}
.hum{
    width: 100%;
    box-shadow: ; 
}
.section-content{
    padding: 0 20px;
    margin: 0 auto;
    max-width: var(--site-max-width);

}
header{
    position: fixed;
    width:100%;
    z-index: 5;
    background-color: var(--primary-color);


}
header .navbar{
    display:flex;
    align-items: center;
    justify-content:space-between ;
    padding: 20px;

}
.navbar .nav-log .logo-text{
    color: var(--white-color);
} 

.navbar .nav-menu{
    display: flex;
    gap: 10px;
}
.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color:var(--white-color);
    font-size: var(--font-size-m );
    
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;


}
.navbar .nav-menu .nav-link:hover{
    color:var(--primary-color);
   background-color: var(--secondary-color) ;
    
}

.hero-section{
    min-height: 100vh;
    background:var(--secondary-color);
    
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    padding: 9rem;
    justify-content: space-between;

}
.hero-details .subtitle{
    margin: 0.7rem 0;
    font-size:var(--font-size-1)
}
.hero-section .hero-details .title {
    font-size: var(--font-size-h1);
    color: var(--title-color);
    font-family: Miniver, sans-serif;
}
.hero-details .hero-details .description{
    font-size: var(--font-size-m);
    max-width: 70% ;
    margin: 24px 0 40px;
}
.hero-section .hero-details .button{
    padding: 10px 26px ;
    border: 2px solid transparent ;
    color: var(--button-color);
    background-color: var(--button-color);

    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
}